<div class="search-container search-focused" data-reactid=".3">
    <form class="search-form" method="get" action="//imgur.com/search" data-reactid=".3.0">
        <input autocomplete="on" type="text" class="search" name="q" placeholder="Search" value="" data-reactid=".3.0.0">
        <div class="search-icon-container" data-reactid=".3.0.1">
            <div class="search-icon-container-icon" data-reactid=".3.0.1.0">
            </div>
        </div>
    </form>
    <search-footer></search-footer>
</div>